@keyframes sinWaveAnim {
	to {
		transform: translatey(15px);
	}
}

@keyframes headerAnim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes projectHoverAnim {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.8;
	}
}

* {
	font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}

body {
	text-align: center;
	align-items: center;
	background-color: rgb(248, 240, 255);
	color: rgb(30, 24, 36);
	font-size: 85%;
}

h1 {
	font-size: 1000%;
	text-shadow: 3px 3px rgb(195, 147, 231);
	margin: 75px;
	margin-bottom: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
	margin-bottom: 40px;
	margin-top: 40px;
}

.links {
	padding: 10px;
	text-decoration: none;
}

.links:hover {
	opacity: 0.4;
}

#header {
	animation: headerAnim 3s;
}

#profilePicture {
	border: 2px rgb(120, 52, 184) solid;
	border-radius: 150px;
	box-shadow: 0 0 25px rgba(138, 43, 226, 0.7);
	animation: sinWaveAnim 1.8s alternate infinite ease-in-out;
}

.projectsContainer {
	margin: auto;
	animation: sinWaveAnim 2s alternate infinite ease-in-out;
}

#changeModeButton {
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
	background-color: rgb(172, 120, 221);
	border: none;
	border-radius: 10px;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	color: whitesmoke;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#changeModeButton:hover {
	background-color: rgb(126, 87, 163);
}

#footer {
	padding: 10px;
	background-color: rgb(116, 106, 126);
	color: whitesmoke;
	border-radius: 10px;
	margin: 5px;
	margin-top: 50px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.project {
	cursor: pointer;
	height: 400px;
	width: 380px;
	border-radius: 10px;
	border: 3px rgb(161, 97, 218) solid;
	padding: 15px;
	background-color: rgb(20, 14, 26);
	color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	margin: 20px;
}

.project thead td {
	background-color: rgb(161, 97, 218);
	padding: 12px;
	border-radius: 5px;
}

.project tbody img {
	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
	margin: 10px;
}

.project:hover {
	animation: projectHoverAnim 0.2s;
	border: 3px rgb(112, 81, 138) solid;
	opacity: 0.8;
}

#lightSource1, #lightSource2 {
	position: fixed;
	width: 125px;
	height: 125px;
	box-shadow: 0 0 125px blueviolet;
	border-radius: 125px;
	background-color: rgba(137, 43, 226, 0.26);
}

#lightSource1 {
	top: 0;
	right: 0;
}

#lightSource2 {
	bottom: 0;
	left: 0;
}

td a {
	text-decoration: none;
}