@keyframes sinWaveAnim {
	to {
		transform: translatey(15px);
	}
}

@keyframes headerAnim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes linksAnim {
	0% {
		color: white;
		padding-right: 10px;
	}

	50% {
		color: rgb(30, 30, 30);
		padding-right: 50px;
	}

	100% {
		color: white;
		padding-right: 10px;
	}
}

@keyframes darkLinksAnim {
	0% {
		color: rgb(30, 30, 30);
		padding-right: 10px;
	}

	50% {
		color: whitesmoke;
		padding-right: 50px;
	}

	100% {
		color: rgb(30, 30, 30);
		padding-right: 10px;
	}
}

@keyframes projectHoverAnim {
	from {
		width: 400px;
		height: 420px;
	}

	to {
		width: 380px;
		height: 400px;
		margin-left: 30px;
	}
}

* {
	font-family: Verdana, sans-serif;
}

body {
	text-align: center;
	align-items: center;
	background-color: white;
	color: rgb(30, 30, 30);
	font-size: 85%;
}

h1 {
	font-size: 700%;
	text-shadow: 3px 3px rgb(195, 147, 231);
	margin-bottom: 0;
}

p {
	margin-bottom: 40px;
	margin-top: 40px;
}

.links {
	color: white;
	padding-top: 15px;
	text-decoration: none;
	padding: 10px;
}

.links span {
	margin-right: 20px;
}

#header {
	animation: headerAnim 3s;
}

#profilePicture {
	border: 2px rgb(120, 52, 184) solid;
	border-radius: 100px;
	box-shadow: 0 0 15px rgb(144, 113, 172);
	animation: sinWaveAnim 1.8s alternate infinite ease-in-out;
}

#projectsContainer {
	margin: auto;
	animation: sinWaveAnim 2s alternate infinite ease-in-out;
}

#changeModeButton {
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
	background-color: rgb(172, 120, 221);
	border: none;
	border-radius: 10px;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	color: whitesmoke;
}

#changeModeButton:hover {
	background-color: rgb(126, 87, 163);
}

#footer {
	padding: 10px;
	background-color: gray;
	color: whitesmoke;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.project {
	height: 420px;
	width: 400px;
	border-radius: 10px;
	border: 3px rgb(161, 97, 218) solid;
	padding: 15px;
	background-color: black;
	color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	margin: 20px;
}

.project thead td {
	background-color: rgb(161, 97, 218);
	padding: 12px;
	border-radius: 5px;
}

.project tbody img {
	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
	margin: 10px;
}

.project:hover {
	animation: projectHoverAnim 0.8s alternate ease-in-out infinite;
	border: 4px rgb(112, 81, 138) solid;
}